/* reset */
button {
  all: unset;
}

.container {
  display: flex;
  flex-direction: column;
}

.SelectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  width: var(--radix-select-trigger-width);
  height: 35px;
  padding: 0 15px;

  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-radius: 4px;
}

.SelectTrigger:hover {
  background-color: var(--color-dark-500);
}

.SelectTrigger:disabled {
  color: var(--color-dark-500);
  background: transparent;
  border: 1px solid var(--color-dark-500);
}

.SelectTrigger:focus-visible {
  outline: 2px solid var(--color-info-700);
}

.SelectContent {
  position: relative;
  z-index: var(--select-z-index);

  overflow: hidden;

  width: var(--radix-select-trigger-width);
  margin-top: -1px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-radius: 4px;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 0 35px 0 25px;

  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);

  border-radius: 3px;
}

.SelectItem[data-disabled] {
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  background: var(--color-accent-900);
  outline: none;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.SelectScrollButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  background: transparent;
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
