.button_container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;

  > button {
    &:disabled {
      color: var(--color-dark-500);
    }
  }
}

.question,
.answer {
  width: 301px;
  text-align: start;
  vertical-align: top;
}
