@mixin pagination-buttons {
  all: unset;

  cursor: pointer;

  width: 25px;
  height: 25px;

  text-align: center;

  border-radius: 3px;
}

.container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  padding: 15px;

  .item {
    @include pagination-buttons;

    &:hover {
      background: var(--color-dark-100);
    }

    &:disabled {
      cursor: initial;
      background: none;
    }

    &:focus-visible {
      outline: 2px solid var(--color-info-700);
    }
  }

  .current {
    color: var(--color-dark-900);
    background: var(--color-light-100);

    &:hover {
      background: var(--color-light-100);
    }
  }

  .nextPrevButtons {
    @include pagination-buttons;

    &:disabled {
      color: var(--color-dark-100);
    }
  }

  .select_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;
  }
}
