.icon {
  all: unset;
  cursor: pointer;
  padding-left: 5px;

  &:disabled {
    cursor: initial;
    color: var(--color-dark-500);
  }
}

.name {
  cursor: pointer;

  &:hover {
    color: var(--color-accent-500);
  }
}
