.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .fallback {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-dark-100);
    border-radius: 50%;
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
