.sortable {
  cursor: pointer;
}

.name {
  width: 201px;
}

.cardsCount {
  width: 201px;
}

.updated {
  width: 300px;
}

.createdBy {
  overflow: hidden;
  width: 201px;
}

.iconWrapper {
  display: flex;
  align-items: center;
}
