.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 542px;
  padding: 15px;

  .title {
    padding: 12px;
    border-bottom: 1px solid var(--color-dark-500);
  }

  .description {
    padding: 24px 18px;
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;

    &:focus-visible {
      color: var(--color-info-700);
    }
  }
}
