.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;

  > *:last-child {
    padding-top: 10px;
  }

  .buttons_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
