.root {
  display: flex;
  align-items: center;
  justify-content: center;

  .cards {
    min-width: 420px;
    padding: 40px 36px;

    & > *:not(:last-child) {
      margin-bottom: 30px;
    }

    .title {
      text-align: center;
    }

    .text {
      .attempts {
        color: var(--color-dark-300);
      }
    }
  }
}
