@mixin container {
  max-width: 1080px;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: calc(100% - var(--removed-body-scroll-bar-size, 0px));
  height: 60px;

  background: var(--color-dark-500);

  .container {
    @include container;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    & > * {
      display: flex;
      align-items: center;
      padding: 12px 0;
    }
  }
}
