.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no_cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
